<h1>How do machines learn? <h1>


<h2>Data is very important for the Machine learning<h2>

1.__supervised learning__

2.__unsupervised learning__

3. __reinforcement learning__

__What kind of problems can it solve?__
Clasification, Clustering,regresion , segmentation.

What is the features?
-Entry points in data.(Columns in our data...)

More features ever is the best.

The answer is not.

__Bias and Variance__



![Alt text](https://vscode-remote%2Bwsl-002bubuntu-002d22-002e04.vscode-resource.vscode-cdn.net/home/jann/Platzi/DataScience/Scikit-Learn/img_course/2022-11-03_17h14_12.png?version%3D1667513671452)



![Alt text](https://vscode-remote%2Bwsl-002bubuntu-002d22-002e04.vscode-resource.vscode-cdn.net/home/jann/Platzi/DataScience/Scikit-Learn/img_course/2022-11-03_17h15_40.png?version%3D1667513786262)

![Alt text](vscode-remote://wsl%2Bubuntu-22.04/home/jann/Platzi/DataScience/Scikit-Learn/img_course/2022-11-03_17h17_10.png)

<h1>Introduction PCA<h1>

Principal component analizis


![Alt text](https://vscode-remote%2Bwsl-002bubuntu-002d22-002e04.vscode-resource.vscode-cdn.net/home/jann/Platzi/DataScience/Scikit-Learn/img_course/2022-11-03_17h19_20.png?version%3D1667513963969)


![Alt text](https://vscode-remote%2Bwsl-002bubuntu-002d22-002e04.vscode-resource.vscode-cdn.net/home/jann/Platzi/DataScience/Scikit-Learn/img_course/2022-11-03_17h21_58.png?version%3D1667514202161)

In [2]:
#import modeles.
import pandas as pd
import sklearn 
import matplotlib.pyplot as plt

In [6]:
from sklearn.decomposition import PCA
from sklearn.decomposition import IncrementalPCA
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [8]:
data_heart = pd.read_csv('./datasets/heart_bde64b4c-2d72-4cd3-a964-62ee94855f5b.csv')
data_heart

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [25]:
#Features. Drop the columns target.
dt_features = data_heart.drop(labels = 'target',axis = 1)
dt_features

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3

In [28]:
#Data set target.
dt_target = data_heart['target']
#Normalizate Date.
dt_features = StandardScaler().fit_transform(dt_features)
dt_features

array([[-0.26843658,  0.66150409, -0.91575542, ...,  0.99543334,
         1.20922066,  1.08985168],
       [-0.15815703,  0.66150409, -0.91575542, ..., -2.24367514,
        -0.73197147,  1.08985168],
       [ 1.71659547,  0.66150409, -0.91575542, ..., -2.24367514,
        -0.73197147,  1.08985168],
       ...,
       [-0.81983438,  0.66150409, -0.91575542, ..., -0.6241209 ,
         0.23862459, -0.52212231],
       [-0.4889957 , -1.51170646, -0.91575542, ...,  0.99543334,
        -0.73197147, -0.52212231],
       [-0.04787747,  0.66150409, -0.91575542, ..., -0.6241209 ,
         0.23862459,  1.08985168]])

In [ ]:
#Train values ant test.
x_train, x_test, y_train,_y_test = train_test_split(dt_features,dt_target,test_size=0.5)